* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alice', serif;
}

/* cabecera --- */

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #CB8D55;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav, nav ul {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}


/* --- cabecera  */

/* Lateral */
.textura_lateral {
  position: absolute;
  width: 105px;
  height: 1320px;
  background-image: url('./assets/images/index/lateral_index.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
main {
  width: 1411px;
  position: relative;
  left: 105px;
  justify-items: center;
  justify-content: center;
  padding: 2% 4%;

  background-image: url('./assets/images/index/fondo_index.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #000;
}


.intro {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.intro .nombre  {
  font-family: ;
  font-size: 50px ;
}

.carrusel_contenedor {
  width: 700px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.carrusel2_contenedor {
  width: fit-content;
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 1% 2%;
  margin: 0 auto;
  
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.carrusel {
  display: flex;
  height: auto;
  width: 650px;
  padding: 2%;
  margin: 0 auto;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

/* .carrusel::-webkit-scrollbar {
  display: initial;
  width: 8px;
} */



.carrusel .slide {
  display: inline-block;
  scroll-snap-align: center;
  border: none;
}

.carrusel  img {
  width: 320px;
  height: auto;
  background-color: azure;
  margin: 0 25px;

}

article {
  padding: 2% 2%;
  background-color:  rgba(255, 255, 255, 0.7);
  margin: 5% 0;
  border-radius: 20px;
}


