:root {
  --Troch: 'Trochut', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alice', serif;
  font-size: 20px;
}

body {
  overflow-x: hidden;
}

/* cabecera --- */

header {
  width: 99vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.header_index {
  background-color: #CB8D55;
}
.header_panda nav,
.header_entrevista nav{
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  background-position: center;
  background-repeat: repeat;
}

.header_panda nav {
  background-size: 1920px;
  background-image: url('./assets/images/panda/pexels-pramod-tiwari-16016205.jpg');
}

.header_entrevista {
  background-size: 1000px;
  background-position: left;
  background-image: url('./assets/images/entrevista/pexels-imdat-akgün-16070540.jpg');
}

.header_panda nav ul:nth-child(1) li,
.header_entrevista nav ul:nth-child(1) li{
  font-family: var(--Troch);
  font-size: 26px;
} 

nav, nav ul {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}
nav li {
  width: 115%;
  border-radius: 10px;
  padding: 2% 8%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* --- cabecera  */

/* Lateral --- */
.textura_lateral {
  position: absolute;
  width: 9vw;
  height: 1320px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.textura_index {
  background-image: url('./assets/images/index/lateral_index.jpg');
}

/* --- lateral  */



main {
  width: 90vw;
  position: relative;
  left: 9vw;
  justify-items: center;
  justify-content: center;
  padding: 2% 4%;

  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #000;
}

article {
  padding: 2% 2%;
  background-color:  rgba(255, 255, 255, 0.7);
  margin: 5% 0;
  border-radius: 20px;
}

.main_index {
  background-image: url('./assets/images/index/fondo_index.jpg');
}

.intro {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.intro .nombre  {
  font-family: var(--Troch);
  font-size: 50px ;
}

.carrusel_contenedor {
  width: 700px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.carrusel2_contenedor {
  width: fit-content;
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 1% 2%;
  margin: 0 auto;
  
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.carrusel {
  display: flex;
  height: auto;
  width: 650px;
  padding: 2%;
  margin: 0 auto;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.carrusel .slide {
  display: inline-block;
  scroll-snap-align: center;
  border: none;
}
  
.carrusel  img {
  width: 320px;
  height: auto;
  background-color: azure;
  margin: 0 25px;
  box-shadow: 1px 1px 10px 1px #000;
}

.presentacion p{
  position: relative;
  padding-left: 2%;
}
.presentacion p img {
  width: 200px;
  position: absolute;
  top: 10%;
  left: -15%;
}

.estatua {
  position: relative;
  padding-right: 10%;
}
.estatua img{
  width: 300px;
  position: absolute;
  top: -10%;
  right: -8%;
}



/* Panda --- */
.main_panda {
  background-image: url('./assets/images/panda/fondo_panda-7233125.jpg');
}

.textura_panda {
  height: 1625px;
  background-position: top;
  background-size: 500px;
  background-image: url('./assets/images/panda/pexels-maria-firman-10567383.jpg');
}

.main_panda section {
  margin: 2% 0;
}

.main_panda section:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_panda section:nth-child(1) article {
  width: 900px;
  height: 300px ;
}

.main_panda section:nth-child(1) picture {
  display: flex;
  width: 350px;
  height: 300px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #000;
}

.main_panda section:nth-child(1) img {
  width: 600px;
}

.main_panda article {
  margin: 0;
}

.main_panda section:nth-child(2) {
  padding-top: 50px;
}
.main_panda section:nth-child(2) article {
  display: flex;
  flex-wrap: wrap;
}

.main_panda section:nth-child(2) p{
  display: flex;
  flex-wrap: nowrap;
}

.main_panda section:nth-child(2) picture {
  width: 150px;
  height: 100px;
  position: relative;
  top: 00px;
  right: 45px;
  transform: rotate(-10deg);
}
.main_panda section:nth-child(2) img{
  width: 250px;
}

.carrusel_panda {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.carrusel_panda img {
  width: 400px;
}

.main_panda .carrusel img{
  width: 300px;
}
/* --- panda  */


/* Entrevista --- */

.main_entrevista {
  padding: 4%;
  background-size: 100%;
  background-position: center;
  background-image: url('./assets/images/entrevista/fondo_entrevista.jpg');
}
.textura_entrevista {
  background-size: 300px;
  background-repeat: repeat;
  height: 2845px;
  background-image: url('./assets/images/entrevista/pexels-imdat-akgün-16070540.jpg');
}

.intro_entrevista {
  width: 100%;
  display: grid;
  grid-template-columns: 4% 50% 40%;
  gap: 4%;
}

.intro_entrevista h3 {
  text-orientation: upright;
  writing-mode: vertical-lr;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.intro_entrevista div {
  display: flex;
  flex-wrap: wrap;
}

.intro_entrevista div:nth-child(1) {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.intro_entrevista div:nth-child(2) img {
  margin: 0 auto;
  width: 100%;
}

.intro_entrevista div:nth-child(2) span {
  padding: 1%;
  margin: 20px auto 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.intro_entrevista div:nth-child(3) {
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 1000px;
  gap: 30px;
}

.intro_entrevista div:nth-child(3) picture{
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.intro_entrevista div:nth-child(3) img {
  width: 550px;
}

.entrevista article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 20px;
  text-align: left;
}

.texto_entrevista article {
  margin: 60px 0 20px;
  position: relative;
}
.texto_entrevista p{
  padding-top: 1%;
  padding-right: 14%;
  margin: 10px 0;
}

.texto_entrevista img {
  position: absolute;
}

.pasaporte {
  width: 250px;
  right: 0;
  top: -100px;
}

.pasaporte_cerrado {
  width: 250px;
  right: -60px;
  top: 60px;
  transform: rotate(-20deg);
}

.avion {
  width: 200px;
  right: 250px;
  bottom: -100px;
  transform: rotate(-55deg);
}

.grid_fotos {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template:
  auto auto / 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.grid_fotos picture {
  display: flex;
  width: 100%;
  height: 250px;
  overflow: hidden;
  justify-content: center;
  align-items: top ;
}

.grid_fotos img {
  width: 500px;
  height: fit-content;
  margin: 0 auto;
}
/* --- Entrevista */